html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	min-height: 100vh;
	width: 100%;
	position: absolute;
	font-size: 14px;
	
	line-height: 22px;
	text-rendering: geometricPrecision;
}
navbar, #footer {
	display: block;
	background-color: #002a5c;
    text-align: center;
    color: white;
	padding: 10px;
	margin: 0px;
}
navbar h1 {
	padding: 0px;
	margin: 0px;
}
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    height: 32px;
    border: 0px;
    width: 100%;
    height: 0.6em;
}
#surveyContainer {
}

.sv_row {
	border: none;
	padding: 4px;
}
.sv_q {
	background-color: #dae2dc;
	border-radius: 5px;
}
.sv_q_title {
	color: #002a5c;
}
.sv_q_rating {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
}
.sv_q_rating_item {
	flex-grow: 1;
	color: white;
	border: 1px solid #002a5c;
    background-color: rgb(51, 122, 183);
	transition: background .3s;
}
.sv_q_rating_item:hover {
	border: 1px solid #002a5c;
    background-color: rgb(54, 158, 248);
}
.sv_q_rating_item.active {
	border: 1px solid #002a5c;
    background-color: rgb(76, 175,80);
}
.sv_nav {
    width: 100%;
	padding: 4px;
}
input[type=button] {
	cursor: pointer;
}
.sv_next_btn, .sv_prev_btn, .sv_complete_btn {
	color: white;	  
    background-color: rgb(51, 122, 183);
	width: 100%;
	border: none;
}